:root{
    --color-interface-light: #fff;
  
    --color-text-light: #c2c2c2;
    --color-text-medium-dark: #888;
    --color-text-dark: #333;
}
  
body {  
    margin: 0;
    padding: 0;
    background-color: var(--color-interface-light);
}

.navbar-title {
    font-family: 'Sniglet', cursive;
    display: inline-block;
    margin-left: 12px;
    margin-top: 14px;
    font-size: 2rem;
}  

.sidenav-trigger{
    text-decoration: none;
}

nav ul li a {
    font-family: 'Quicksand', sans-serif;
    color: var(--color-text-dark);
    text-decoration: none;
} 

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--color-text-medium-dark);
    font-size: 1vw;
    width: 100%;
}