:root{
     --color-interface: #1f1f1f;
  
    --color-text-light: #c2c2c2;
    --color-text-medium-dark: #888;
    --color-text-dark: #333;
}
  
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sustentabilidade .container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .sustentabilidade .container {
        flex-direction: row;
    }
    .sustentabilidade .container div {
        margin: 1em;
    }
}

.navbar-title {
    font-family: 'Sniglet', cursive;
    display: inline-block;
    margin-left: 12px;
    margin-top: 14px;
    font-size: 2rem;
}  

.sidenav-trigger{
    text-decoration: none;
}

nav ul li a {
    font-family: 'Quicksand', sans-serif;
    color: var(--color-text-dark);
    text-decoration: none;
} 

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container > div {
    margin-bottom: 20px;
    text-align: center;
}

.flex-container > div > h3{
    margin-top: 0; 
}

/* .image-container {
    position: fixed;
    bottom: 11px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.image-container img {
    width: 100%;
    height: auto;
} */

footer {
    width: 100%;
    font-size: 1vw;
    padding-top: 7px;
    text-align: center;
    color: var(--color-text-medium-dark);
    background-color: var(--color-interface);
}